<div class="container">
    <div class="row" >
        <div class="col-md-8 col-md-offset-2">
            <h1>INFORMATION PAGE</h1>
                <div class="row">
                    <div class="col-md-12">
                        <!-- FAQ -->
                    <small>Frequently Asked Questions</small>
                        <div class="panel-group accordion" id="accordion" role="tablist" aria-multiselectable="false">
                            <!-- faq1 -->
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading1">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                            <span class="dot"></span> Which Web Browsers Can I Use?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
                                    <div class="panel-body">
                                       ANSWER:<br><br>
                     The Gannett Publishing Services Web Portal supports any of the following web browsers:<br><br>
                  <b>Firefox version 50.0 or greater<br><br>
                  Chrome version 50.0 or greater<br><br>
                  Microsoft Windows Internet Explorer version 8.0 or greater<br><br></b>
                  The latest web browsers are available for free from Microsoft Internet Explorer download page and Mozilla Firefox download page. Other browsers and mobile devices may work, but are not officially supported.
                                    </div>
                                </div>
                            </div>
                            <!-- /faq1 -->
                            <!-- faq2 -->
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading2">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                            <span class="dot"></span> Can I Change My Password?

                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                    <div class="panel-body">
                                         ANSWER: <b>Yes</b>, <br><br>After logging into the portal, click on "Home >> My Profile" and go the the "Update Password" section. You will be asked to enter your "New Password" and "Confirm New Password". When you are complete, click on the "Update Profile" button to save your changes. Passwords must be at least 6 alphanumeric characters and no more than 10 alphanumeric characters; every password must contain at least 1 number; all passwords are case-sensitive.

                                    </div>
                                </div>
                            </div>
                            <!-- /faq2 -->
                            <!-- faq3 -->
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading3">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                            <span class="dot"></span> What if I Forget My Password?

                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                                    <div class="panel-body">
                                         ANSWER: <br><br>When you open the Web Portal, there is a link next to the Login button called "Forgot Password?" Just click on this link and enter your Web Portal e-mail address. Your password will be e-mailed to you.

                                    </div>
                                </div>
                            </div>
                            <!-- /faq3 -->
              <!-- faq4 -->
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading4">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                            <span class="dot"></span> What if My E-Mail Address Changes?

                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                                    <div class="panel-body">
                                         ANSWER: <br><br>There are two ways to update your Web Portal e-mail address.<br><br>
Log into the Web Portal using your old e-mail address. Select "My Profile". Proceed to the "Update Email Address" section and enter your "New Email Address" and "Confirm New Email Address". Click on the "Update Profile" button to save your changes.<br><br>
You can also contact your local market office. They will be able to update your email address as well.

                                    </div>
                                </div>
                            </div>
                            <!-- /faq4 -->
              <!-- faq5 -->
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading5">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                            <span class="dot"></span> Why Was I Logged Out?

                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                                    <div class="panel-body">
                                         ANSWER: <br><br>For security purposes, this application is set to disconnect as follows:<br><br>
If you've logged on and no draw management pages are open, you will be logged out after 30 minutes of inactivity.<br><br>
If you have opened a draw management page, but have not entered any data for 80 minutes, you will be logged out. There is an indicator at the top letting you know how much time remains before that happens!
                                    </div>
                                </div>
                            </div>
                            <!-- /faq5 -->
                        </div>
                        <!-- /FAQ -->
                   <small>End of Faqs</small>
                   <div class="panel-group accordion" id="accordion2" role="tablist" aria-multiselectable="false">
                            <!-- faq1 -->
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="heading21">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse21" aria-expanded="false" aria-controls="collapse21">
                                            <span class="dot"></span> -----
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse21" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading21">
                                    <div class="panel-body">
                                            ANSWER: End of faq block

                                    </div>
                                </div>
                            </div>
                            <!-- /faq1 -->
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
