<div class="container">
	<div class="row" >
		<div class="col-md-8 col-md-offset-2">
			<P>
				<B><U>USA TODAY Network Online Newspaper Draw Management Terms of Service</U></B><BR>
				<BR>
				<U>General</U>
				<BR>
				The USA TODAY NETWORK Online Newspaper Draw
				Management website is owned and operated by
				Gannett Publishing Services, LLC
				<BR>
			</P>
		</div>
	</div>
</div>
