 /* The sidebar menu */
.sidebar {
  flex: 0 1 250px;
  min-width: 150px;
  padding: 10px 15px;
  background-color: #f8f8f8;
  border-right: 1px solid #ddd;

  li + li {
    margin-top: 0px;
  }

  ul>li>a {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .nav-text {
    color: #777;
  }

}


