.center-role-form {
  width: 75%;
  min-height: 400px;
  text-align: left;
  margin: 1em auto;
  background-color:rgb(248, 247, 242);
  border: 2px solid rgb(17, 48, 226);
  box-sizing: border-box;
  padding: 20px;

  .sign-in{
    text-align: center;
    margin: 1em auto;
    font-size: 2.5rem;
  }

}
